header, footer{
  background-color:#000;
  color:#fff;
  width:100%;
}
footer {
  text-align:center;
  font-size:8pt;
  height:60px;
}
body{
	font-family:Helvetica,
	arial,sans-serif;
	font-size:14px;
	line-height:1.6;
	padding-top:10px;
	padding-bottom:10px;
  background-color:white;
  padding:30px;
  color:#333
}
body>*:first-child{
  margin-top:0!important
}
body>*:last-child{
	margin-bottom:0!important
}
a{
  color:#4183c4;
  text-decoration:none
}
a:hover{text-decoration:underline
}
a.absent{
  color:#c00
}
a.anchor{display:block;
	padding-left:30px;
	margin-left:-30px;
	cursor:pointer;
  position:absolute;
  top:0;
  left:0;
  bottom:0
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin:0;
  padding:0;
  border:0
}
kbd{
	background:#f1f1f1;
  background:-moz-linear-gradient(#f1f1f1,#ddd);
  background:-webkit-linear-gradient(#f1f1f1,#ddd);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#dddddd')";
  border-radius:2px;
  border:1px solid #ddd;
  border-bottom-color:#ccc;
  border-right-color:#ccc;
  padding:1px 4px;
  line-height:10px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif
}
.container{
  /*max-width:920px;*/

}
aside{
  float:right;
  left:0px;
  width:160px;
  height:400px;
  padding:4px;
}

aside #news{
  font-size:8pt;
  list-style: none;
  padding:0px;
  margin:0px;
  padding-left:10px;
}
aside #news li{
  margin-bottom:10px;
  border-bottom:1px dotted #ddd;
  padding-bottom:10px;
}
aside #news li:last-child{
  margin-bottom:10px;
  border-bottom:0px;
  padding-bottom:10px;
}
aside h2 {
  text-align:right;
  padding:2px 8px;
  color:#369;
  background-color:#39f;
  text-shadow:1px 1px #9df, -1px -1px #003;
}
aside #news h2{
  text-align:left;
  color:#666;
  font-size:10pt;
  background-color:transparent;
  text-shadow:none;
  padding:none;
  margin:none;
}
aside #news h2 .number{
  color:#aaa;
  font-size:8pt;
}
aside #news p{
  font-size:10pt;
  color:#888;
  font-size:8pt;
}
aside #news p .author{
  color:#ccc;
  padding-right:4px;
}
aside #news p .date{
  color:#ccc;
  padding-right:4px;
}

header{
  background:#fafafa;
  background:-moz-linear-gradient(#fafafa,#eaeaea);
  background:-webkit-linear-gradient(#fafafa,#eaeaea);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')";
  border-bottom:1px solid #cacaca;
  box-shadow:0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
  padding: 10px 20px;
  color:#000;
  box-shadow: 2px 2px 4px #666;
  height:48px;
}
header h1, header h2 {
  color:#ccc;
  text-shadow: 1px 1px 2px #000;
  padding: 10px;
}
header h1, header h2, header .menu {
    display:inline-block;
}
header .menu{
  list-style: none;
  margin:12px;
  width
}
header .menu ul li{
  display:inline-block;
}
header .menu ul li:before{
  content:" #>";
}
#markup{
  padding:10px;
  margin-right:170px;
  border-right:1px dotted #666;
  box-shadow: 4px 4px 8px #666;
}
#markup article{
  padding-top:30px;
}
.markdown-body{
  font-size:14px;
  line-height:1.6;
}
.markdown-body>*:first-child{
  margin-top:0!important;
}
.markdown-body>*:last-child{
  margin-bottom:0!important;
}
.markdown-body a.absent{
  color:#c00;
}
.markdown-body a.anchor{bottom:0;
  cursor:pointer;
  display:block;
  left:0;
  margin-left:-30px;
  padding-left:30px;
  position:absolute;
  top:0;
}
.markdown-body h1,.markdown-body h2,.markdown-body h3,.markdown-body h4,.markdown-body h5,.markdown-body h6{cursor:text;
  font-weight:bold;
  margin:20px 0 10px;
  padding:0;
  position:relative;
}
.markdown-body h1 .mini-icon-link,.markdown-body h2 .mini-icon-link,.markdown-body h3 .mini-icon-link,.markdown-body h4 .mini-icon-link,.markdown-body h5 .mini-icon-link,.markdown-body h6 .mini-icon-link{
  color:#000;
  display:none
}
.markdown-body h1:hover a.anchor,.markdown-body h2:hover a.anchor,.markdown-body h3:hover a.anchor,.markdown-body h4:hover a.anchor,.markdown-body h5:hover a.anchor,.markdown-body h6:hover a.anchor{line-height:1;
  margin-left:-22px;
  padding-left:0;
  text-decoration:none;
  top:15%
}
.markdown-body h1:hover a.anchor .mini-icon-link,.markdown-body h2:hover a.anchor .mini-icon-link,.markdown-body h3:hover a.anchor .mini-icon-link,.markdown-body h4:hover a.anchor .mini-icon-link,.markdown-body h5:hover a.anchor .mini-icon-link,.markdown-body h6:hover a.anchor .mini-icon-link{display:inline-block
}
.markdown-body h1 tt,.markdown-body h1 code,.markdown-body h2 tt,.markdown-body h2 code,.markdown-body h3 tt,.markdown-body h3 code,.markdown-body h4 tt,.markdown-body h4 code,.markdown-body h5 tt,.markdown-body h5 code,.markdown-body h6 tt,.markdown-body h6 code{font-size:inherit
}
.markdown-body h1{
  color:#000;
  font-size:28px
}
.markdown-body h2{border-bottom:1px solid #ccc;
  
  color:#000;
  font-size:24px
}
.markdown-body h3{font-size:18px
}
.markdown-body h4{font-size:16px
}
.markdown-body h5{font-size:14px
}
.markdown-body h6{
  color:#777;
  font-size:14px
}
.markdown-body p,.markdown-body blockquote,.markdown-body ul,.markdown-body ol,.markdown-body dl,.markdown-body table,.markdown-body pre{margin:15px 0
}
.markdown-body hr{background:url("/public/github-dirty-shade.png") repeat-x scroll 0 0 transparent;
  border:0 none;
  
  color:#ccc;
  height:4px;
  padding:0
}
.markdown-body>h2:first-child,.markdown-body>h1:first-child,.markdown-body>h1:first-child+h2,.markdown-body>h3:first-child,.markdown-body>h4:first-child,.markdown-body>h5:first-child,.markdown-body>h6:first-child{margin-top:0;
  padding-top:0
}
.markdown-body a:first-child h1,.markdown-body a:first-child h2,.markdown-body a:first-child h3,.markdown-body a:first-child h4,.markdown-body a:first-child h5,.markdown-body a:first-child h6{margin-top:0;
  padding-top:0
}
.markdown-body h1+p,.markdown-body h2+p,.markdown-body h3+p,.markdown-body h4+p,.markdown-body h5+p,.markdown-body h6+p{margin-top:0
}
.markdown-body li p.first{display:inline-block
}
.markdown-body ul,.markdown-body ol{padding-left:30px
}
.markdown-body ul.no-list,.markdown-body ol.no-list{list-style-type:none;
  padding:0
}
.markdown-body ul li>*:first-child,.markdown-body ol li>*:first-child{margin-top:0
}
.markdown-body ul ul,.markdown-body ul ol,.markdown-body ol ol,.markdown-body ol ul{margin-bottom:0
}
.markdown-body dl{padding:0
}
.markdown-body dl dt{font-size:14px;
  font-style:italic;
  font-weight:bold;
  margin:15px 0 5px;
  padding:0
}
.markdown-body dl dt:first-child{padding:0
}
.markdown-body dl dt>*:first-child{margin-top:0
}
.markdown-body dl dt>*:last-child{margin-bottom:0
}
.markdown-body dl dd{margin:0 0 15px;
  padding:0 15px
}
.markdown-body dl dd>*:first-child{margin-top:0
}
.markdown-body dl dd>*:last-child{margin-bottom:0
}
.markdown-body blockquote{border-left:4px solid #ddd;
  
  color:#777;
  padding:0 15px
}
.markdown-body blockquote>*:first-child{margin-top:0
}
.markdown-body blockquote>*:last-child{margin-bottom:0
}
.markdown-body table{border-collapse:collapse;
  border-spacing:0
}
.markdown-body table th{font-weight:bold
}
.markdown-body table th,.markdown-body table td{border:1px solid #ccc;
  padding:6px 13px
}
.markdown-body table tr{background-
  color:#fff;
  border-top:1px solid #ccc
}
.markdown-body table tr:nth-child(2n){background-
  color:#f8f8f8
}
.markdown-body img{max-width:100%
}
.markdown-body span.frame{display:block;
  overflow:hidden
}
.markdown-body span.frame>span{border:1px solid #ddd;
  display:block;
  float:left;
  margin:13px 0 0;
  overflow:hidden;
  padding:7px;
  width:auto
}
.markdown-body span.frame span img{display:block;
  float:left
}
.markdown-body span.frame span span{clear:both;
  
  color:#333;
  display:block;
  padding:5px 0 0
}
.markdown-body span.align-center{clear:both;
  display:block;
  overflow:hidden
}
.markdown-body span.align-center>span{display:block;
  margin:13px auto 0;
  overflow:hidden;
  text-align:center
}
.markdown-body span.align-center span img{margin:0 auto;
  text-align:center
}
.markdown-body span.align-right{clear:both;
  display:block;
  overflow:hidden
}
.markdown-body span.align-right>span{display:block;
  margin:13px 0 0;
  overflow:hidden;
  text-align:right
}
.markdown-body span.align-right span img{margin:0;
  text-align:right
}
.markdown-body span.float-left{display:block;
  float:left;
  margin-right:13px;
  overflow:hidden
}
.markdown-body span.float-left span{margin:13px 0 0
}
.markdown-body span.float-right{display:block;
  float:right;
  margin-left:13px;
  overflow:hidden
}
.markdown-body span.float-right>span{display:block;
  margin:13px auto 0;
  overflow:hidden;
  text-align:right
}
.markdown-body code,.markdown-body tt{background-
  color:#f8f8f8;
  border:1px solid #eaeaea;
  border-radius:3px 3px 3px 3px;
  margin:0 2px;
  padding:0 5px;
  white-space:nowrap
}
.markdown-body pre>code{background:none repeat scroll 0 0 transparent;
  border:medium none;
  margin:0;
  padding:0;
  white-space:pre
}
.markdown-body .highlight pre,.markdown-body pre{background-
  color:#f8f8f8;
  border:1px solid #ccc;
  border-radius:3px 3px 3px 3px;
  font-size:13px;
  line-height:19px;
  overflow:auto;
  padding:6px 10px
}
.markdown-body pre code,.markdown-body pre tt{background-
  color:transparent;
  border:medium none
}
.codehilite{background:#fff
}
.codehilite .c{
  color:#998;
  font-style:italic
}
.codehilite .err{
  color:#a61717;
  background-
  color:#e3d2d2
}
.codehilite .k{
  color:#000;
  font-weight:bold
}
.codehilite .o{
  color:#000;
  font-weight:bold
}
.codehilite .cm{
  color:#998;
  font-style:italic
}
.codehilite .cp{
  color:#999;
  font-weight:bold
}
.codehilite .c1{
  color:#998;
  font-style:italic
}
.codehilite .cs{
  color:#999;
  font-weight:bold;
  font-style:italic
}
.codehilite .gd{
  color:#000;
  background-
  color:#fdd
}
.codehilite .gd .x{
  color:#000;
  background-
  color:#faa
}
.codehilite .ge{
  color:#000;
  font-style:italic
}
.codehilite .gr{
  color:#a00
}
.codehilite .gh{
  color:#999
}
.codehilite .gi{
  color:#000;
  background-
  color:#dfd
}
.codehilite .gi .x{
  color:#000;
  background-
  color:#afa
}
.codehilite .go{
  color:#888
}
.codehilite .gp{
  color:#555
}
.codehilite .gs{
  font-weight:bold;
}
.codehilite .gu{
  color:#aaa
}
.codehilite .gt{
  color:#a00
}
.codehilite .kc{
  color:#000;
  font-weight:bold
}
.codehilite .kd{
  color:#000;
  font-weight:bold
}
.codehilite .kp{
  color:#000;
  font-weight:bold
}
.codehilite .kr{
  color:#000;
  font-weight:bold
}
.codehilite .kt{
  color:#458;
  font-weight:bold
}
.codehilite .m{
  color:#099
}
.codehilite .s{
  color:#d14
}
.codehilite .na{
  color:#008080
}
.codehilite .nb{
  color:#0086b3
}
.codehilite .nc{
  color:#458;
  font-weight:bold
}
.codehilite .no{
  color:#008080
}
.codehilite .ni{
  color:#800080
}
.codehilite .ne{
  color:#900;
  font-weight:bold
}
.codehilite .nf{
  color:#900;
  font-weight:bold
}
.codehilite .nn{
  color:#555
}
.codehilite .nt{
  color:#000080
}
.codehilite .nv{
  color:#008080
}
.codehilite .ow{
  color:#000;
  font-weight:bold
}
.codehilite .w{
  color:#bbb
}
.codehilite .mf{
  color:#099
}
.codehilite .mh{
  color:#099
}
.codehilite .mi{
  color:#099
}
.codehilite .mo{
  color:#099
}
.codehilite .sb{
  color:#d14
}
.codehilite .sc{
  color:#d14
}
.codehilite .sd{
  color:#d14
}
.codehilite .s2{
  color:#d14
}
.codehilite .se{
  color:#d14
}
.codehilite .sh{
  color:#d14
}
.codehilite .si{
  color:#d14
}
.codehilite .sx{
  color:#d14
}
.codehilite .sr{
  color:#009926
}
.codehilite .s1{
  color:#d14
}
.codehilite .ss{
  color:#990073
}
.codehilite .bp{
  color:#999
}
.codehilite .vc{
  color:#008080
}
.codehilite .vg{
  color:#008080
}
.codehilite .vi{
  color:#008080
}
.codehilite .il{
  color:#099
}
