<!DOCTYPE html > 
<html> 
	<head> 
		<meta Charset="utf-8"> 
		<title>Demo02-3 with Dynamique Template and CSS/binary filtering</title>
		<link rel="stylesheet" type="text/css" href="/wiki/css/main.css" />
	</head> 
	<body> 
		<header> 
			<h1>Demo02-3</h1>
			<h2>with Dynamic Template</h2>
			<p>and CSS/binary filtering</p>
		</header> 
		<div class="container"> 
			<div id="markup"> 
				<div id="content" class="markdown-body"> 
					{{{content}}} 
				</div> 
			</div> 
		</div> 
		<footer> 
			<p>&copy; 2013 - Capgemini - 
				<a href="mailto:frederic.delorme@capgemini.com" title="contact author"/>Frédéric Delorme</a>
			</p>
		</footer> 
	</body> 
</html>