<!DOCTYPE html > 
<html> 
	<head> 
		<meta Charset="utf-8"> 
		<title>Demo02-2 with Dynamic Template</title>
	</head> 
	<body> 
		<header> 
			<h1>Demo02-2</h1>
			<h2>with Dynamic Template</h2>
		</header> 
		<div class="container"> 
			<div id="markup"> 
				<div id="content" class="markdown-body"> 
					{{{content}}} 
				</div> 
			</div> 
		</div> 
		<footer> 
			<p>&copy; 2013 - Capgemini - 
				<a href="mailto:frederic.delorme@capgemini.com" title="contact author"/>Frédéric Delorme</a>
			</p>
		</footer> 
	</body> 
</html>