!!! 5
html
  head
    meta(charset='utf-8')
    title #{title} Serveur securisé
    link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
  body
    header
      img.logo(src='/images/logo.png', alt='capgemini logo')
      h1 #{title}
      h2 with Express framework
    .container
      #markup
        #content.markdown-body
          block content
    footer
      p
        | © 2013 - Capgemini -
        a(href='mailto:frederic.delorme@capgemini.com', title='contact author')
        | Frédéric Delorme
