<form action="/auth/openid" method="post">
	<div>
	<label>OpenID:</label>
	<input type="text" name="openid_identifier"/><br/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>