<!DOCTYPE html > 
<html> 
	<head> 
		<meta Charset="utf-8"> 
		<title>{{app.title}} Serveur securisé</title> 
		<link rel="stylesheet" type="text/css" href="{{app.path.css}}/main.css" />
	</head> 
	<body> 
		<header> 
			<img class="logo" src="{{app.path.image}}/logo.png" alt="capgemini logo" /> 
			<h1>{{app.title}}</h1>
			<h2>with Dynamic Template over SSL</h2>
		</header> 
		<div class="container"> 
			<div id="markup"> 
				<div id="content" class="markdown-body"> 
					<div class="error">
						<h1>Error {{error.code}}</h1>
						<p>Error {{error.message}}</p>
						<p class="home"><a href="/" title="follow this link to back application home">Back Home</a></p>
						<div class="clear"></div>
					</div>
				</div> 
			</div> 
		</div> 
		<footer> 
			<p>&copy; 2013 - Capgemini - 
				<a href="mailto:frederic.delorme@capgemini.com" title="contact author"/>Frédéric Delorme</a>
			</p>
		</footer> 
	</body> 
</html>