/*main.css*/
html > * {
	margin:0px;
	padding:0px;
}
body {
	width:80%;
	background-color:#fff;
	margin-left:10%;
	box-shadow: 4px 4px 8px #666;
	font-family:sans-serif;
}
header {
	background-color:#fdfdfd;
	border-bottom:1px solid #ddd;
	padding: 10px;
}

header h1, header h2{
	display:inline-block;
}
header h1{
	transition-duration: 0.3s;
	transition-timing-function: ease;
	text-shadow: 2px 2px 2px grey,
				 2px 2px 2px #ddd,
				 2px 2px 2px #eee,
				 2px 2px 2px #fefefe;
	color:#036;
}
header h1:hover{
	transition-duration: 0.3s;
	transition-timing-function: ease;
	text-shadow: 2px 2px 2px grey,
				 8px 12px 1px #ddd,
				 12px 16px 1px #eee,
				 16px 24px 1px #fefefe;
	color:#069;
}

header h2:before{
	content:"»";
	padding:10px;
	color:#ccc;
}


footer {
	text-align:center;
	padding: 4px 8px;
	background-color:#000;
	color:#eee;
	font-size:8pt;
}
.container {
	padding:10px;
}