<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{{title}}}</title>
        {{{includeCSS}}}
    </head>
    <body>
        <header>
            <h1>DocServer</h1><h2>{{title}}</h2>
            <div class="menu">
            	<ul>
                    {{#menu}}
            		<li><a href="{{url}}" accesskey="{{key}}" title="{{title}}">{{label}}</a></li>
                    {{/menu}}
            	</ul>
            </div>
        </header>
        <aside>
            <h2>News</h2>
            <ul id="news">
            {{#news}}
                <li>
                    <h2><span class="number">#{{id}}</span>. {{title}}</h2>
                    <p>{{content}}</p>
                    <p>&raquo;<span class="date">{{date}}</span>&raquo;<span class="author">{{author}}</span></p>
                </li>
            {{/news}}
            </ul>
        </aside>
        <div class="container">

            <div id="markup">
                <div id="content" class="markdown-body">
                    {{{content}}}
                </div>

            </div>
        </div>
        <footer>
            <p>© 2013 Capgemini
                <a href="mailto:{{author.email}}" title="Contact {{author.name}} for more information">{{author.name}}</a>
                 - Gravatar
                <a href="http://gravatar.com/{{author.username}}" title="Visit his gravatar profile"><img class="avatar" src="{{author.avatar}}"/>
            </a>
            </p>
        </footer>
    </body>
</html>
