/* Large desktop */
@media (min-width: 1200px) {
	/*main.css*/
	html >* {
		padding:0px;
		margin:0px;
	}
	body {
		font-family: Arial;
		font-size: 10pt;
	}

	.container{
		background-image:url('../images/');
	}

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}


