/*main.css*/
html > * {
	margin:0px;
	padding:0px;
}
body {
	width:80%;
	background-color:#fff;
	margin-left:10%;
	box-shadow: 4px 4px 8px #666;
	font-family:sans-serif;
}
header {
	background-color:#fdfdfd;
	border-bottom:1px solid #ddd;
	padding: 10px;
}
header img.logo{
	float:right;
	width:64px;
	margin:8px;
	padding:0px;
	border:none;
	background-color:transparent;
	/*box-shadow:4px 4px 8px #aaa;*/
}
header.secured{
	background-image:url('../images/lock.png');
	background-repeat:no-repeat;
	background-position: 2px 2px;
	background-color:#ffeeee;
	border-bottom:1px solid red;
}
header h1, header h2{
	display:inline-block;
}
header h2:before{
	content:"»";
	padding:10px;
	color:#ccc;
}


footer {
	text-align:center;
	padding: 4px 8px;
	background-color:#000;
	color:#eee;
	font-size:8pt;
}

.clear{
	clear:both;
}
.container {
	padding:10px;
}

.error { 
	border: 2px solid brown;
	background-color:#ff9999;
	padding:4px;
	margin: 0px 4px;
}
.error h1{
	color:red;
	margin:0px;
	padding: 0px 4px;
	border-bottom:1px dotted red;
}
.error p{
	text-align:left;
	vertical-align: middle;
	color:brown;
	padding: 4px;
}

.error p.home{
	display:block;
	float:right;
	width:64px;
	font-size:9pt;
	background-color:brown;
	padding: 4px;
	margin:2px;
	border:1px outset brown;
}
.error p.home:hover {
	box-shadow:0px 0px 4px brown;
}
.error p.home a{
	text-decoration:none;
	color:white;
}
.error p.home:hover a {
	text-shadow:1px 1px black;
}