/**
 * Modificaiton du titre de l'article.
 */
.markdown-body h1 {
  font-size: 60px;
  border-bottom:1px dotted #000;
}

/**
 * Numérotation des titres et figures
 */  
html{counter-reset: figures;}
body{
  counter-reset: section;
  text-align:justify;
}
h1{counter-reset:notes;}
h2{counter-reset: sub-section;}
h3{counter-reset: composite}
h4{counter-reset: detail}
h2:before {
 counter-increment: section;
 content: counter(section) ". ";
}
h3:before{
 counter-increment: sub-section;
 content: counter(section) "." counter(sub-section) ". ";
}
h4:before{
 counter-increment: composite;
 content: counter(section) "." counter(sub-section) "." counter(composite) ". ";
}
h5:before{
 counter-increment: detail;
 content: counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) ". ";
}
.figure {
  text-align:center;
  font-size:8pt;
}
.figure:before {
 counter-increment: figures;
 content: "figure " counter(section) "." counter(figures) " - ";
}

/* 
 * Extrait de code et commandes shell
 */
pre{
  margin-left:24px;
}
pre.shell {
  background-color:#000;
  color:#fff;
  border:none;
}
pre.javascript {
  border-left-size:4px;
}

/**
 * Mise en valeur des notes/remarque, info et warning
 */
blockquote.info, blockquote.trick, blockquote.alert, blockquote.comment {
  padding:8px 4px;
  padding-left: 48px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px #333;
  border:0px;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  color:black;
}
blockquote p {
  display:block;
  padding-left: 10px;
  padding-right: 48px;
  margin-left: 10px;
  border-left:1px dotted black;
  text-align:justify;
}

/* 
 * Numérotation des notes
 */
blockquote:before {
  counter-increment: notes;
  content: "#"counter(notes);
  font-size:8pt;
  background-color:#000;
  color:#fff;
  border-radius:8pt;
  float:right;
  padding:2px;
  margin-right:8px;
  text-align:center;
  width:20px;
  font-style: italic;
}

blockquote p b {
  color:black;
}

blockquote.info{  
  background-color:#cef;
  background-image:url("images/info.png");
}
blockquote.info p:before{
  color:#cef;
}
blockquote.trick{  
  background-color:#cfe;
  background-image:url("images/ok.png");
}
blockquote.trick p:before{
  color:#cfe;
}
blockquote.alert{  
  background-color:#f99;
  background-image:url("images/alert.png");
}
blockquote.alert p:before{
  color:#f99;
}
blockquote.comment{  
  background-color:#ffe;
  background-image:url("images/comment.png");
}
blockquote.comment p:before{
  color:#ffe;
}
.markdown-body blockquote code{
  background-color:transparent;
  color:#000;
  font-weight:bold;
  font-style:italic;
  border:0px;
}
